<div id="page-content">
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
  <div class="container">
    <h1 class="text-center mt-4">Alpha Bloggers</h1>
      <% @users.each do |user| %>
        <div class="row justify-content-md-center mt-4">
          <div class="col-8">
            <div class="card text-center shadow rounded mb-5">
              <div class="card-header font-italic">
                <%= link_to user.username, user, class: "text-success" %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= link_to gravatar_for(user, size: 250), user %></h5>
                <p class="card-text"><%= pluralize(user.articles.count, "article", "articles") %></p>
                <%= link_to "View", user, class: "btn btn-outline-success" %>
                <%= link_to "Edit", edit_user_path(user), class: "btn btn-outline-info" if logged_in? && user == current_user %>
              </div>
              <div class="card-footer text-muted">
                <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div class="flickr_pagination mb4">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
